In [ ]:
# 1- Set up a server named 'InfoTechDB'. (M)

# DONE

In [ ]:
# 2- Create 'class4' database (M). Database deleted (M). Create the same database again (K)
# DONE

In [ ]:
# 3- https://www.postgresqltutorial.com/postgresql-sample-database/ . Get the ERD at this link. Write at least 5 relationships between this ERD and the tables. 
# (Which table has what kind of relationship with other tables?)


# film -->> inventory : one to many 
# adress -->> staff : one to many
# rental -->> inventory : one to one
# film_actor -->> actor : one to one
#language -->> film : one to many

In [ ]:
# 4- Create 3 of the tables in the ERD. (M)
#   DONE

In [ ]:
#5- Create 3 of the tables in the ERD. (K)

# CREATE TABLE public.rental
# (
#     rental_id bigint NOT NULL,
#     rental_date date NOT NULL,
#     inventory_date date NOT NULL,
#     customer_id bigint NOT NULL,
#     return_date date NOT NULL,
#     staff_id bigint NOT NULL,
#     last_update bigint,
#     PRIMARY KEY (rental_id)
# );

# ALTER TABLE IF EXISTS public.rental
#     OWNER to postgres;


# CREATE TABLE public.staff
# (
#     staff_id bigint NOT NULL,
#     first_name character varying NOT NULL,
#     last_name character varying NOT NULL,
#     adress_id smallint NOT NULL,
#     email character varying NOT NULL,
#     PRIMARY KEY (staff_id)
# );

# ALTER TABLE IF EXISTS public.staff
#     OWNER to postgres;


# CREATE TABLE IF NOT EXISTS public.film
# (
#     film_id smallint NOT NULL,
#     title character varying COLLATE pg_catalog."default" NOT NULL,
#     description character varying COLLATE pg_catalog."default" NOT NULL,
#     relase_year smallint NOT NULL,
#     lenght smallint NOT NULL,
#     CONSTRAINT film_pkey PRIMARY KEY (film_id)
# )

# TABLESPACE pg_default;

# ALTER TABLE IF EXISTS public.film
#     OWNER to postgres;

In [ ]:
# 6- Create 3 of the tables in the ERD. (C)

import psycopg2
from psycopg2 import sql



conn= psycopg2.connect(" dbname=class4 user=postgres password=0000 host=localhost ")

cur = conn.cursor()


command = '''CREATE TABLE public.rental
(
    rental_id bigint NOT NULL,
    rental_date date NOT NULL,
    inventory_date date NOT NULL,
    customer_id bigint NOT NULL,
    return_date date NOT NULL,
    staff_id bigint NOT NULL,
    last_update bigint,
    PRIMARY KEY (rental_id)
);
'''
    

cur.execute(command)
cur.close()
conn.commit()
conn.close()

In [ ]:
# 6- Create 3 of the tables in the ERD. (C)
import psycopg2
from psycopg2 import sql



conn= psycopg2.connect(" dbname=class4 user=postgres password=0000 host=localhost ")

cur = conn.cursor()


command = '''CREATE TABLE public.address
(
    adress_id bigint NOT NULL,
    adress VARCHAR(40) NOT NULL,
    adress2 VARCHAR(49) NOT NULL,
    city_id bigint NOT NULL,
    phone bigint NOT NULL,
    PRIMARY KEY (adress_id)
);
'''
    

cur.execute(command)
cur.close()
conn.commit()
conn.close()

In [ ]:
# 6- Create 3 of the tables in the ERD. (C)

import psycopg2
from psycopg2 import sql



conn= psycopg2.connect(" dbname=class4 user=postgres password=0000 host=localhost ")

cur = conn.cursor()


command = '''CREATE TABLE public.city
(
    city_id bigint NOT NULL,
    city VARCHAR(20) NOT NULL,
    country_id bigint NOT NULL,
    last_update date NOT NULL,
    PRIMARY KEY (city_id)
);
'''
    

cur.execute(command)
cur.close()
conn.commit()
conn.close()

In [ ]:
#7- Enter 5 data entries into the 3 tables you created. (M)
#DONE

In [ ]:
# # #8- Enter 5 data entries with the 3 tables you created. (K)

# # # INSERT INTO public.rental (rental_id, rental_date, inventory_date, customer_id, return_date, staff_id, last_update)
# # # VALUES
# # # (1, '2021-01-11', '2024-01-12', 123, '2024-01-15', 456, 1641931200),
# # # (2, '2021-01-12', '2024-01-13', 789, '2024-01-16', 101, 1642017600),
# # # (2, '2021-05-12', '2024-02-14', 789, '2024-01-16', 101, 161232423432);



# # # INSERT INTO public.staff (staff_id, first_name, last_name, address_id, email)
# # VALUES
# # (1, 'Mauro', 'Icardi', 1, 'icardimauro@example.com'),
# # (2, 'Allan', 'Rodriguez', 2, 'allanredriguez@example.com'),
# # (3, 'Bob', 'Johnson', 3, 'bob.johnson@example.com'),
# # (4, 'Alice', 'Williams', 4, 'alice.williams@example.com'),
# # (5, 'Charlie', 'Brown', 5, 'charlie.brown@example.com');


# INSERT INTO public.film (film_id, title, description, relase_year, length)
# VALUES
# (1, 'The Shawshank Redemption', 'A story of hope and resilience in Shawshank State Penitentiary.', 1994, 142),
# (2, 'The Godfather', 'The powerful story of the Corleone crime family.', 1972, 175),
# (3, 'Pulp Fiction', 'A nonlinear narrative that weaves together multiple crime stories.', 1994, 154),
# (4, 'The Dark Knight', 'Batman faces the Joker in a battle for Gotham City.', 2008, 152),
# (5, 'Inception', 'A mind-bending heist thriller set in the world of dreams.', 2010, 148);

In [ ]:
#9- Make 5 data entries into the 3 tables you created. (C)

import psycopg2

conn= psycopg2.connect(" dbname=class4 user=postgres password=0000 host=localhost ")
cur = conn.cursor()

cur.execute('INSERT INTO staff (staff_id, first_name, last_name, adress_id, email) VALUES (%s, %s, %s, %s, %s)', (1323123123,"John", "jack",12,"johnjack@example.com" ))

cur.close()

conn.commit()

conn.close()

In [ ]:
#9- Make 5 data entries into the 3 tables you created. (C)

import psycopg2

conn= psycopg2.connect(" dbname=class4 user=postgres password=0000 host=localhost ")
cur = conn.cursor()

cur.execute('INSERT INTO staff (staff_id, first_name, last_name, adress_id, email) VALUES (%s, %s, %s, %s, %s)', (322423423,"Johny", "jackson",12,"johnyjackson@example.com" ))

cur.close()

conn.commit()

conn.close()

In [ ]:
#9- Make 5 data entries into the 3 tables you created. (C)

import psycopg2

conn= psycopg2.connect(" dbname=class4 user=postgres password=0000 host=localhost ")
cur = conn.cursor()

cur.execute('INSERT INTO staff (staff_id, first_name, last_name, adress_id, email) VALUES (%s, %s, %s, %s, %s)', (5345435344,"Kahn", "Oliver",22,"oliverkahn@example.com" ))

cur.close()

conn.commit()

conn.close()

In [ ]:
#10- Replace one piece of data in each of the 3 tables. (M)

# DONE

In [ ]:
# 11- Replace one piece of data in each of the 3 tables. (K)

# UPDATE city
# SET city = 'Amsterdam'
# WHERE country_id = '3'

In [ ]:
# 12- Replace one piece of data in each of the 3 tables. (C)
import psycopg2

conn= psycopg2.connect(" dbname=class4 user=postgres password=0000 host=localhost ")
cur = conn.cursor()

insert_query = 'UPDATE city SET city=%s WHERE country_id =%s'


data = ("Kopenhaven",1)

try : 
    cur.execute(insert_query, data)
    
    conn.commit()
    
    print("data has succesfully changed")
    
except Exception as e : 
    
    conn.rollback()
    
    print(f'Error : {e}')
    print("transaction was reversed")
    
finally:
    if cur:
        cur.close()
        
    if conn:
        conn.close()

In [ ]:
#13- Delete the last row of 3 tables. (M)

# DONE

In [ ]:
# #14- Delete the last row of table 3. (K)

# DELETE FROM public.address
# 	WHERE adress_id=5;

In [ ]:
#15- Delete the last row of table 3. (C)
import psycopg2

conn = psycopg2.connect("dbname=class4 user=postgres password=0000 host=localhost")
cur = conn.cursor()

delete_query = 'DELETE  FROM public.address WHERE city_id = %s'

data = (1,)

try:
    cur.execute(delete_query, data)
    conn.commit()
    print("Data has been successfully deleted")
except Exception as e:
    conn.rollback()
    print(f'Error: {e}')
    print("Transaction was reversed")
finally:
    if cur:
        cur.close()
    if conn:
        conn.close()

In [ ]:
# 16- Delete 1 table. (M)


#DONE

In [ ]:
# 17- Delete 1 table. (K)

#DROP TABLE IF EXISTS staff;

In [ ]:
# 18- Delete 1 table. (C)

import psycopg2

conn = psycopg2.connect("dbname=class4 user=postgres password=0000 host=localhost")
cur = conn.cursor()

table_name = 'staff'

try:
    
    drop_table_query = f'DROP TABLE IF EXISTS {table_name};'
    
    
    cur.execute(drop_table_query)
    
    conn.commit()
    
    print(f"{table_name}table has been successfully deleted.")
except Exception as e:
    conn.rollback()
    print(f'Error: {e}')
    print("Transaction was reversed")
finally:
    if cur:
        cur.close()
    if conn:
        conn.close()

In [ ]:
# 19.Create another table with 2 or 3 columns from one of the remaining tables. (K)
#CREATE TABLE brand AS
#SELECT country_id, city_id FROM city;

In [ ]:
#20- Create another table with 2 or 3 columns from one of the remaining tables. (C)
import psycopg2

conn = psycopg2.connect("dbname=class4 user=postgres password=0000 host=localhost port=5432")
cur = conn.cursor()

cur.execute('''
CREATE TABLE brand AS
SELECT country_id, city_id FROM city;
''')

cur.close()
conn.commit()
conn.close()

In [ ]:
#21- Truncate 1 of the tables. (M)
#DONE

In [ ]:
#22- Truncate 1 of the tables. (K)
# TRUNCATE TABLE brand;

In [ ]:
# 23- Truncate 1 of the tables. (C)

import psycopg2

conn = psycopg2.connect("dbname=class4 user=postgres password=0000 host=localhost port=5432")

cur = conn.cursor()

cur.execute('''TRUNCATE TABLE brand; ''')

cur.close()
conn.commit()
conn.close()

In [ ]:
# 24- Delete the truncated tables. (M)
# DONE

In [ ]:
# 25- Delete 2 tables. (K)


# DROP TABLE brand
# DROP TABLE film

In [25]:
#26- Delete 2 tables. (C)

import psycopg2

conn = psycopg2.connect("dbname=class4 user=postgres password=0000 host=localhost port=5432")
cur = conn.cursor()

cur.execute(''' DROP TABLE film, brand; ''')

cur.close()
conn.commit()
conn.close()

In [ ]:
# 27- You should have 1 table left with data. Save the table as a CSV file on your computer.

# DONE

In [ ]:
# 28- Delete the last table in the PostgreSQL directory. (K)

# DROP TABLE rental

In [ ]:
# 29- Import the CSV file into the PostgreSQL database via pgAdmin4 interface.

# DONE

In [ ]:
# 30- Delete the table you imported. (C)
import psycopg2

conn = psycopg2.connect("dbname=class4 user=postgres password=0000 host=localhost port=5432")
cur = conn.cursor()

cur.execute(''' DROP TABLE rental; ''')

cur.close()
conn.commit()
conn.close()

In [ ]:
# 31- "Download the sample database from the link https://www.postgresqltutorial.com/postgresql-sample-database/ to your computer and then upload it to the interface."

# DONE

In [ ]:
# 32- "There should be 15 tables in your database. Please view each table one by one, examine the column names, and make note of which column serves as the Primary Key (PK) and which one serves as the Foreign Key (FK) in each of the 5 tables."



# NOTE: For the questions below, write the table names between the question and the solution.

In [ ]:
# 33- What is the average duration of action movies?

#SELECT AVG(film.length) AS average_duration
#FROM film
# 115.2720000000000000

In [ ]:
#33- What is the average duration of action movies? (K)


111.6093750000000000

In [ ]:
#35- What is the rating of the films of the actor named 'Gene Willis'?

# SELECT rating from film WHERE film_id IN (
# 	SELECT film_id from film_actor WHERE actor_id = (
#		SELECT actor_id from actor WHERE first_name = 'Gene' AND last_name = 'Willis' ) )

In [ ]:
# 36- What is the number of active customers?

# SELECT COUNT(customer) from customer WHERE active = true;

In [ ]:
# 37- What are the movies that start with the letter 'C'?

# SELECT title FROM film WHERE title LIKE 'C%'

In [ ]:
# 38- What is the email address of customers who pay less than $4? (K)

----

In [ ]:
#39- Table of staff and customers residing in Moscow? (only name/surname columns) (K)

----

In [ ]:
# 40- What are the 5 least rented movies? (K)
----