# NumPy Homework

# A

## 1) import numpy library with his usual alias!

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import display

## 2) Create a random matrix, which has 2 columns and 20 rows. With this we will then create a pandas DataFrame!

In [6]:
matris=np.random.randint(1,41,size=(20,2))
matris_df = pd.DataFrame(matris)
matris_df

     0   1
0   21  14
1   18  24
2    3  22
3   28  32
4    2   8
5   27  22
6   37  21
7   35  35
8   21   3
9   38  33
10  36  34
11  33   9
12  28  16
13  24  14
14  30  35
15  30  28
16  13  22
17   1  40
18   1  31
19  28  11

## 3) Create two vectors from the previous DataFrame. We will use the same values from the previous DataFrame which we already have been created. The first one contains the evaluations which show the customer satisfaction for the prices, and the second one contains for the quality. How big how good! We will then print the vectors.

##### Hint: pd.DataFrame['column_name'] gives us a Series from a DataFrame. We can use it with the same functions as DataFrames.

In [7]:
price=matris[0:20, 0]
quality=matris[0:20,1]
print('Price: ', price)
print('Quality: ', quality)

Price:  [21 18  3 28  2 27 37 35 21 38 36 33 28 24 30 30 13  1  1 28]
Quality:  [14 24 22 32  8 22 21 35  3 33 34  9 16 14 35 28 22 40 31 11]

## 4) Find the total numbers of visitors.

In [8]:
len(price)

20

## 5) Find and print the average ratings for each column using numpy functions (we will find the mean and median values)

In [9]:
print('The mean of the price ratings: ',  price.mean()) 
print('The median of the price ratings:', np.median(price))

print('The mean of the quality ratings: ',  quality.mean()) 
print('The median of the quality ratings:', np.median(quality))

The mean of the price ratings:  22.7
The median of the price ratings: 27.5
The mean of the quality ratings:  22.7
The median of the quality ratings: 22.0

## 6) Create a new vector which is the average of the ratings of two columns, price and quality. We will name it as mean_ratings. It will show the average rating for each customer. Round elements of the array to the nearest integer.

In [10]:
mean_ratings = matris.mean(axis=1)
print(mean_ratings)

[17.5 21.  12.5 30.   5.  24.5 29.  35.  12.  35.5 35.  21.  22.  19.
 32.5 29.  17.5 20.5 16.  19.5]

## 7) Create ratings_values matrix again with the all three vectors. Average ratings, which has just been calculated in the previous exercise, should be the third column of the new matrix. All values in the matrix should be integer! New matrix should have 20 rows and 3 columns!

In [11]:

new_ratings_values=np.column_stack((matris, mean_ratings))
new_ratings_values = new_ratings_values.astype(np.int32)
print(type(new_ratings_values))
print(new_ratings_values.shape)
new_ratings = pd.DataFrame(new_ratings_values, columns=['Price', 'Quality', 'Average'])
display(new_ratings)

<class 'numpy.ndarray'>
(20, 3)

    Price  Quality  Average
0      21       14       17
1      18       24       21
2       3       22       12
3      28       32       30
4       2        8        5
5      27       22       24
6      37       21       29
7      35       35       35
8      21        3       12
9      38       33       35
10     36       34       35
11     33        9       21
12     28       16       22
13     24       14       19
14     30       35       32
15     30       28       29
16     13       22       17
17      1       40       20
18      1       31       16
19     28       11       19

# B

## 1) Create *Mean Absolute Error (MAE)* function

\begin{equation}
MAE=\frac{1}{n}\sum_{i=1}^n|target_i - predictions_i|
\end{equation}

In [12]:
def mae1(target, predictions):
    sum_result=0
    for i in range(len(target)):
        result=abs(target[i]-predictions[i])
        sum_result+=result
    n=sum_result/len(target)
    return n

def mae(target, predictions):
    difference=abs(target-predictions)
    mean=difference.mean()
    return mean

## 2) Create two arrays each of them has $100$ observations. We will use them for *target* and *predictions* labelling. The target array should consist only $0$ or $1$ values which are random created, while predictions only integer $1$. The target array should have a *binomial distribution* which gives $1$ with $60$% probability.

In [13]:


target = np.random.binomial(n=1, p=0.6, size=100)
predictions = np.ones(100, dtype=int)
print(target)
print()
print(predictions)

[0 0 1 1 0 0 1 0 0 1 1 1 1 1 1 0 0 0 1 1 0 1 1 1 0 1 0 1 1 1 1 1 1 1 0 0 1
 0 1 1 1 0 0 1 1 1 0 1 1 1 0 1 1 1 0 1 1 0 1 0 1 0 1 1 0 0 1 0 1 0 1 1 1 0
 0 0 0 1 1 0 1 1 1 0 1 1 1 1 0 1 0 0 1 1 0 1 1 1 1 0]

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]

## 3) Find the *MAE* with your mae function

In [14]:
mean_absolute_error =  mae(target, predictions)

In [15]:
mae(target, predictions)

0.38

## 4)  Run the code in this step. Observe the printed outputs. Try to run the codes a few times from step 2. What do you think about the results? Give your thoughts shortly with 3 - 5 sentences about why two outputs are the same. What is your conclusion?

In [16]:
print(1-np.mean(target))

print(mean_absolute_error)

0.38
0.38

 ### Our predictions were always 1. Our actual values also always follow a binomial distribution where 1 is given with a probability of 60%. Since predictions remain unchanged and we have constant probability for actual values, the average remains the same each time.

## 5) We have always chosen $1$ in our predictions, but the actual values at the target have changed each time. How likely is it that we got it right each time, and what determines this?

 ### We created an array where the target variable will give 1 with a probability of 60%. Predictions changed by 60% each time. Therefore, the probability of being correct each time is 60%, and this is determined by the distribution.

# C

## 1) Create a Pythagorean function using *np.dot()* to calculate vector length

$$v = [x, y] ==> len_v = \sqrt{x^2+y^2}$$

In [17]:
import math
def pythagorean_length(vector):
    result=math.sqrt(np.dot(vector, vector))
    return result

## 2) Calculate the length of the given vector using your *pythagorean_length* function and check your result comparing with the given

In [18]:
a = np.array([3, 4])

pythagorean_length(a)

5.0

## 3) Find the shortest distance (Euclidean distance) using *np.dot()* between the given two vectors and compare the results to check

In [19]:
a = np.array([5, 6])
b = np.array([1, 3])

c = result=math.sqrt(np.dot([a[0]-b[0], a[1]-b[1]], [a[0]-b[0], a[1]-b[1]]))
print('The distance between a and b is', c)

from scipy.spatial import distance
print('The distance between a and b should be', distance.euclidean(a, b))

The distance between a and b is 5.0
The distance between a and b should be 5.0

# D - Obfuscating Data

It is best to obfuscate data by multiplying the numerical features (they can be seen as the matrix $X$) by an invertible matrix $P$. 

$$
X' = X \times P
$$

Try to do that and check how the features' values will look like after the transformation. By the way, the invertible property is important here so make sure that $P$ is indeed invertible.

## 1) Protect customers' personal data. It is necessary to develop a data transformation algorithm that makes it difficult to recover personal information in case the data falls into the wrong hands. This is called data masking or data obfuscation. However, the data must be protected in such a way that the quality of the machine learning models does not suffer. You don't need to choose the best model, just prove that the algorithm works correctly.

In [41]:
# pd.DataFrame
columns = ['gender', 'age', 'salary', 'family_members']
data = np.array([np.random.choice([0, 1], size=1000), 
                 np.random.randint(18, 100, 1000), 
                 np.random.normal(25000, 5000, 1000).astype(int), 
                 np.random.randint(0, 10, 1000)
                ])

personal_data = pd.DataFrame(data.T, columns=columns)
display(personal_data.tail(10))

     gender  age  salary  family_members
990       0   54   25432               6
991       1   64   22899               9
992       0   85   22767               8
993       1   35   35842               3
994       0   48   14546               2
995       0   90   20594               1
996       1   89   28074               5
997       0   54   21494               4
998       1   73   20131               5
999       0   60   25558               2

In [45]:
def obfuscating_data(input):
    # Veriyi rastgele sırala
    np.random.shuffle(input)
    return input

In [46]:
personal_data = pd.DataFrame(obfuscating_data(data).T, columns=columns)
display(personal_data.tail(10))

     gender  age  salary  family_members
990   25432    6       0              54
991   22899    9       1              64
992   22767    8       0              85
993   35842    3       1              35
994   14546    2       0              48
995   20594    1       0              90
996   28074    5       1              89
997   21494    4       0              54
998   20131    5       1              73
999   25558    2       0              60

**(Hint:** https://numpy.org/doc/stable/reference/random/generator.html **)**

In [49]:
rng = np.random.default_rng()
y = rng.permuted(data, axis=1, out=data)
personal_data = pd.DataFrame(y.T, columns=columns)
display(personal_data.tail(10))

     gender  age  salary  family_members
990   21716    8       1              57
991   21964    6       0              99
992   25665    5       0              46
993   21370    8       1              69
994   20520    3       0              55
995   31712    1       1              51
996   32083    5       0              31
997   23570    8       0              97
998   24475    1       0              24
999   20822    2       0              58

In [24]:
# < write your code here >

## 2) Can you guess the customers' ages or income after the transformation?

In [ ]:
# Secure Data
pd.DataFrame(<............>).describe() # < write your code here >

##    No, I can't guess.

#### write your conlusion here

## 3) Can you recover the original data from $X'$ if you know $P$? Try to check that with calculations by moving $P$ from the right side of the formula above to the left one. The rules of matrix multiplication are helpful here.

In [ ]:
# < write your code here >

In [ ]:
# Printing all three cases for a few customers

In [ ]:
# Original Data
personal_data.tail(10)

In [ ]:
# Secure Data
pd.DataFrame("<............>").tail(10)  # < write your code here >

In [ ]:
# Recovered Data
pd.set_option('display.float_format', '{:.2f}'.format)
pd.DataFrame(<............>).astype('int').tail(10) # < write your code here >

#### write your conlusion here

---

# USEFUL INFORMATIONS

##### Matrices and Matrix Operations

- **A matrix** is a rectangular numeric table or two-dimensional array consisting of m rows and n columns.
- **A transpose of the matrix** is a matrix operation when its rows become columns with the same numbers.- **Dummy code** is a simple code that doesn't mean anything.
- **An identity matrix** is a square matrix with ones on the main diagonal and zeros elsewhere.
- **An inverse matrix** for a square matrix A is a matrix A with a superscript -1 whose product with A is equal to the identity matrix.
- **Invertible matrices** are matrices that have an inverse.
- **Non-invertible** are matrices that don't have an inverse.

# Properties of Matrices

Matrices have many properties in Linear Algebra.

<table>
<tr>
<td>Distributivity</td><td>$A(B+C)=AB+AC$</td>
</tr>
<tr>
<td>Non-commutativity</td><td>$AB \neq BA$</td>
</tr>
<tr>
<td>Associative property of multiplication</td><td>$(AB)C = A(BC)$</td>
</tr>
<tr>
<td>Multiplicative identity property</td><td>$IA = AI = A$</td>
</tr>
<tr>
<td></td><td>$A^{-1}A = AA^{-1} = I$
</td>
</tr>    
<tr>
<td></td><td>$(AB)^{-1} = B^{-1}A^{-1}$</td>
</tr>    
<tr>
<td>Reversivity of the transpose of a product of matrices,</td><td>$(AB)^T = B^TA^T$</td>
</tr>    
</table>

---

In [ ]:
import random
# define the original data
original_data = "Sensitive data that needs to be obfuscated."

# obfuscate the data by replacing characters with random characters
obfuscated_data = ""
for char in original_data:
    if char.isalpha():
        if char.isupper():
            obfuscated_data += random.choice("ABCDEFGHIJKLMNOPQRSTUVWXYZ")
        else:
            obfuscated_data += random.choice("abcdefghijklmnopqrstuvwxyz")
    elif char.isdigit():
        obfuscated_data += random.choice("0123456789")
    else:
        obfuscated_data += char

print("Original data:", original_data)
print("Obfuscated data:", obfuscated_data)

Original data: Sensitive data that needs to be obfuscated.
Obfuscated data: Iubidcqzz qwbb zxpq ulzjy az fs sscchyagyt.