1)- Set up a server named 'InfoTechDB'. (M)-->Done

2)- Create 'class4' database (M). Database deleted (M). Create the same database again (K)--> Done

3)- https://www.postgresqltutorial.com/postgresql-sample-database/ . Get the ERD at this link. Write at least 5 relationships between this ERD and the tables. (Which table has what kind of relationship with other tables?) -->Done
    film_actor – stores the relationships between films and actors
    film_category- stores the relationships between films and categories.
    store – contains the store data including manager staff and address
    film_actor has relationships between  actor and staff with actor_id
    film has relationships between  inventory and film_category with film_id

4)- Create 3 of the tables in the ERD. (M) --Done

5)-Create 3 of the tables in the ERD (K)--Done
    CREATE TABLE inventory_update (
    inventory_id SERIAL PRIMARY KEY,
    film_id INT NOT NULL,
    store_id INT NOT NULL,
    last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP );

    Create Table film_update(
    film_id INT NOT NULL,
    film_category INT NOT NULL,
	last_update TIME )

    
    Create Table actor_category(
	actor_id INT NOT NULL,
	actor_name CHAR, 
	actor_surname CHAR,
	film_category INT NOT NULL
	 )

6)- Create 3 of the tables in the ERD.(C) -->Done

In [ ]:
7)-Enter 5 data entries into the 3 tables you created. (M)-->Done

8)-Enter 5 data entries with the 3 tables you created. (K)-->Done
INSERT INTO deneme_1 (
 	actor_id, first_name
 ) VALUES (
	6, 'Bella'
 );

In [ ]:
9)-Make 5 data entries into the 3 tables you created. (C) -->Done

10)- Replace one piece of data in each of the 3 tables. (M)-->Done

In [ ]:
11)- Replace one piece of data in each of the 3 tables.(K)
UPDATE deneme_1 SET first_name = 'Julia' WHERE actor_id = 6;

In [ ]:
12)-Replace one piece of data in each of the 3 tables. (C)-->Done
conn3=psycopg2.connect("dbname=class4 user=postgres password=1234Qwert host=localhost port=5432"  )
cur_replace=conn3.cursor()
insert_query= 'UPDATE deneme_1 SET first_name=%s WHERE id=%s'
data_new=('Julia', 6)
try:
    cur_replace.execute(insert_query, data_new)
    conn3.commit()
    print('Successful!')
except Exception as e:
    conn3.rollback()
    print(f'Hata: {e}')
finally:
    if cur_replace:
        cur_replace.close()
    if conn3:
        conn3.close()

In [ ]:
13)-Delete the last row of 3 tables. (M)-->Done

14)-Delete the last row of 3 tables. (k)--> DONE
DELETE FROM deneme_1
WHERE actor_id = 6;

15)-Delete the last row of 3 tables.(C) -->Done
conn4 = psycopg2.connect("dbname=class4 user=postgres password=1234Qwert host=localhost port=5432" )
cur4 = conn4.cursor()


actor_id_to_delete = 6


delete_query = f"DELETE FROM deneme_1 WHERE actor_id = {actor_id_to_delete}"

try:
    
    cur4.execute(delete_query)
    conn4.commit()
    print("Row deleted successfully!")
except Exception as e:
    
    conn4.rollback()
    print(f"Error: {e}")
finally:
    
    cur4.close()
    conn4.close()

16)- Delete 1 table. (M) --> Done

17)-Delete 1 table. (K) --> Done
    DROP TABLE IF EXISTS class4;

18)- Delete 1 table. (C) --> Done
conn = psycopg2.connect("dbname=class4 user=postgres password=1234Qwert host=localhost port=5432")
cur = conn.cursor()


table_to_delete = "deneme_1"

drop_table_query = f"DROP TABLE IF EXISTS {table_to_delete}"

try:
    
    cur.execute(drop_table_query)
    
    conn.commit()
    print(f"Table {table_to_delete} deleted successfully!")
except Exception as e:
    
    conn.rollback()
    print(f"Error: {e}")
finally:
   
    cur.close()
    conn.close()

18)- Create another table with 2 or 3 columns from one of the remaining tables. (M) --> Done

19)-Create another table with 2 or 3 columns from one of the remaining tables. (K) --> Done
CREATE TABLE new_table (
    inventory_id SERIAL PRIMARY KEY,
    film_id INT NOT NULL,
    store_id INT NOT NULL,
    last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP );

20)- Create another table with 2 or 3 columns from one of the remaining tables. (C) --> Done
conn5 = psycopg2.connect("dbname=class4 user=postgres password=1234Qwert host=localhost port=5432")
cur5 = conn5.cursor()
new_table = "new_table2"
create_table_query = f"""
    CREATE TABLE {new_table} (
        column1 INTEGER,
        column2 TEXT,
        column3 TIMESTAMP
    )
"""
try:
   
    cur5.execute(create_table_query)
   
    conn5.commit()
    print(f"{new_table} tablosu başarıyla oluşturuldu!")
except Exception as e:
  
    conn5.rollback()
    print(f"Hata: {e}")
finally:
  
    cur5.close()
    conn5.close()

21)-Truncate 1 of the tables. (M) --> Done

22)- Truncate 1 of the tables. (K) --> Done
TRUNCATE TABLE deneme;

23)- Truncate 1 of the tables. (C) --> Done
conn6 = psycopg2.connect("dbname=class4 user=postgres password=1234Qwert host=localhost port=5432")
cur6 = conn6.cursor()
truncate_query = "TRUNCATE TABLE new_table;"
try:
    cur6.execute(truncate_query)
    conn6.commit()
    print("Table truncated successfully.")
except Exception as e:
    conn6.rollback()
    print(f"Error: {e}")
finally:
    cur6.close()
    conn6.close()

24)- Delete tables (M) --> Done

25)-Delete tables(K)-->Done
DROP TABLE new_table;

26)- Delete tables (C) --> Done
conn7 = psycopg2.connect("dbname=your_database user=your_user password=your_password host=your_host port=your_port")
cur7 = conn7.cursor()


table_name_to_drop = 'deneme2'
drop_table_query = f"DROP TABLE {table_name_to_drop};"
try:
    cur7.execute(drop_table_query)
    conn7.commit()
    print(f"Table {table_name_to_drop} dropped successfully.")
except Exception as e:
    conn7.rollback()
    print(f"Error: {e}")
finally:
    cur7.close()
    conn7.close()

27)- You should have 1 table left with data. Save the table as a CSV file on your computer.-->Done

28)-Delete the last table in the PostgreSQL directory. (K)-->Done

29)-Import the CSV file into the PostgreSQL database via pgAdmin4 interface.--> Could not be done