# 1- Preprocessing

## Open the file

In [1]:
import pandas as pd 

pd.read_csv("hw_data.csv")

,Unnamed: 0,Age,Gender,Education Level,Income,Marital Status,Employment Status,Product Category,Satisfaction Level,Debt Status
0,0,500,Female,NaN,31158.0,NaN,NaN,NaN,9,1
1,1,73,Female,College,54465.0,NaN,0.0,E,5,1
2,2,68,Male,High School,37427.0,married,0.0,D,1,1
3,3,61,Female,College,52210.0,widowed,0.0,G,8,1
4,4,34,Female,College,59325.0,separated,1.0,A,5,0
...,...,...,...,...,...,...,...,...,...,...
105,56,85,Female,University,39063.0,divorced,NaN,F,8,0
106,0,500,Female,NaN,31158.0,NaN,NaN,NaN,9,0
107,73,39,Female,College,55750.0,married,1.0,F,5,1
108,28,80,Female,High School,32142.0,separated,NaN,C,7,1
109,30,500,Female,High School,18442.0,separated,1.0,A,3,0

## Examine file

## Define missing values

## Decide about missing values (fill or drop)

## Why did you fill missing values or if you have dropped, why did you do so?

## Find outliers if there are

## Decide what will you do with outliers

## Find duplicates, how many are there? Decide what will you do about that?

## Explain why did you do that?

# 2- Categorization

## Categorize satisfaction in 3 level and label them as 'Low', 'Moderate' and 'High'. Add a new column named 'Satisfaction Category' and store them there

#### ||| Low Satisfaction : (1-3) ||| Moderate Satisfaction : (4-7) ||| High Satisfaction : (8-10) |||

## Categorize income in 3 level and label them as 'Low', 'Moderate' and 'High'. Add a new column named 'Income Category' and store them there

# 3- Analyse

## Comparing using pivot tables

### Is there a relation between marital status and debt status?

### Is there a relation between income category and debt status?

### Is there a relation between education level and satisfaction category?

### Is there a relation between employment status and satisfaction category?

# 4- General Conclusion

-

---

### Checklist

- [x]  start homework;
- [ ]  file open;
- [ ]  file examined;
- [ ]  missing values defined;
- [ ]  missing values are filled;
- [ ]  explanation for the possible causes of missing values;
- [ ]  an explanation of how the blanks are filled;
- [ ]  an explanation of how the blanks are filled;
- [ ]  finding outliers;
- [ ]  handling outliers;
- [ ]  duplicates showed;
- [ ]  duplicates deleted;
- [ ]  an explanation of which method is used to find and remove duplicates;
- [ ]  data is categorized;
- [ ]  an answer to the question " Is there a relation betweenmarital status and debt status?";
- [ ]  an answer to the question " Is there a relation between income category and debt status?";
- [ ]  an answer to the question " Is there a relation between education level and satisfaction category?";
- [ ]  an answer to the question " Is there a relation between employment status and satisfaction category?"
- [ ]  conclusions are present on each stage;
- [ ]  a general conclusion is made.

---