In [ ]:
# 1- Set up a server named 'InfoTechDB'. (M)
# Done

In [13]:
# 2- Create 'class4' database (M). Database deleted (M). Create the same database again (K)
# create database class4;

In [14]:
# 3- https://www.postgresqltutorial.com/postgresql-sample-database/ . Get the ERD at this link. Write at least 5 relationships between this ERD and the tables. (Which table has what kind of relationship with other tables?)

# language ---> film one to many
# store ---> staff one to one
# store ---> staff one to one
# city ---> country many to one
# inventory ---> film many to one

In [ ]:
# 4- Create 3 of the tables in the ERD. (M)

# Done

In [15]:
# 5- Create 3 of the tables in the ERD. (K)
# CREATE TABLE film (
# 	film_id INT,
# 	title VARCHAR(50),
# 	description VARCHAR(50),
# 	release_year INT,
# 	language_id INT
# )

In [16]:
# 6- Create 3 of the tables in the ERD. (C)
import psycopg2

conn = psycopg2.connect("dbname=class4 user=postgres password=1 host=localhost port=5432")

cur = conn.cursor()

command = '''CREATE TABLE language2(
language_id SERIAL PRIMARY KEY,
name VARCHAR(50) NOT NULL
)'''

cur.execute(command)
cur.close()
conn.commit()
conn.close()

In [ ]:
# 7- Enter 5 data entries into the 3 tables you created. (M)

# Done

In [17]:
# 8- Enter 5 data entries with the 3 tables you created. (K)
# INSERT INTO film (
# 	title, description, release_year, language_id
# ) VALUES (
# 	'The Godfather', '19722h 55mR', 1972, 1
# );

In [18]:
# 9 - Make 5 data entries into the 3 tables you created. (C)
import psycopg2

conn = psycopg2.connect("dbname=class4 user=postgres password=1 host=localhost port=5432")
cur = conn.cursor()

cur.execute('INSERT INTO film (title, description, release_year, language_id) VALUES (%s, %s, %s, %s)', ("The Dark Knight", "20082h 32mPG-13", 2008, 1))

cur.close()
conn.commit()
conn.close()

In [ ]:
# 10- Replace one piece of data in each of the 3 tables. (M)

In [19]:
# 11- Replace one piece of data in each of the 3 tables. (K)
# UPDATE film
# SET description='updated'
# WHERE film_id = 3;

In [20]:
# 12- Replace one piece of data in each of the 3 tables. (C)
import psycopg2

conn = psycopg2.connect("dbname=class4 user=postgres password=1 host=localhost port=5432")
cur = conn.cursor()

cur.execute('UPDATE film SET description=%s WHERE film_id=2', ('updated',))

cur.close()
conn.commit()
conn.close()

In [ ]:
# 13- Delete the last row of 3 tables. (M)

# Done

In [ ]:
# 14- Delete the last row of table 3. (K)

# DELETE FROM film WHERE film_id = (SELECT MAX(film_id) from film)

In [23]:
# 15- Delete the last row of table 3. (C)

import psycopg2

conn = psycopg2.connect("dbname=class4 user=postgres password=1 host=localhost port=5432")
cur = conn.cursor()

cur.execute('DELETE FROM film WHERE film_id = (SELECT MAX(film_id) from film)')

cur.close()
conn.commit()
conn.close()

In [ ]:
# 16- Delete 1 table. (M)

#Done

In [ ]:
# 17- Delete 1 table. (K)

# DROP TABLE language

In [22]:
# 18- Delete 1 table. (C)

import psycopg2

conn = psycopg2.connect("dbname=class4 user=postgres password=1 host=localhost port=5432")
cur = conn.cursor()

cur.execute('DROP TABLE language')

cur.close()
conn.commit()
conn.close()

In [ ]:
# 19- Create another table with 2 or 3 columns from one of the remaining tables. (K)
# CREATE TABLE film_titles AS
# SELECT title, release_year FROM film;

In [24]:
# 20- Create another table with 2 or 3 columns from one of the remaining tables. (C)

import psycopg2

conn = psycopg2.connect("dbname=class4 user=postgres password=1 host=localhost port=5432")
cur = conn.cursor()

cur.execute('''
CREATE TABLE film_titles AS
SELECT title, release_year FROM film;
''')

cur.close()
conn.commit()
conn.close()

In [ ]:
# 21- Truncate 1 of the tables. (M)

# Done

In [ ]:
# 22- Truncate 1 of the tables. (K)

# TRUNCATE TABLE film_titles;

In [26]:
# 23- Truncate 1 of the tables. (C)

import psycopg2

conn = psycopg2.connect("dbname=class4 user=postgres password=1 host=localhost port=5432")
cur = conn.cursor()

cur.execute('''
TRUNCATE TABLE film_titles;
''')

cur.close()
conn.commit()
conn.close()

In [ ]:
# 24- Delete the truncated tables. (M)

# Done

In [ ]:
# 25- Delete 2 tables. (K)

# DROP TABLE film_titles
# DROP TABLE language

In [28]:
# 26- Delete 2 tables. (C)

import psycopg2

conn = psycopg2.connect("dbname=class4 user=postgres password=1 host=localhost port=5432")
cur = conn.cursor()

cur.execute('''
DROP TABLE film_category, language;
''')

cur.close()
conn.commit()
conn.close()

In [ ]:
# 27- You should have 1 table left with data. Save the table as a CSV file on your computer.

# Done

In [ ]:
# 28- Delete the last table in the PostgreSQL directory. (K)

# DROP TABLE film

In [ ]:
# 29- Import the CSV file into the PostgreSQL database via pgAdmin4 interface.

# Done

In [29]:
# 30- Delete the table you imported. (C)
import psycopg2

conn = psycopg2.connect("dbname=class4 user=postgres password=1 host=localhost port=5432")
cur = conn.cursor()

cur.execute('''
DROP TABLE film;
''')

cur.close()
conn.commit()
conn.close()

In [ ]:
# 31- "Download the sample database from the link https://www.postgresqltutorial.com/postgresql-sample-database/ to your computer and then upload it to the interface."

# Done

In [ ]:
# 32- "There should be 15 tables in your database. Please view each table one by one, examine the column names, and make note of which column serves as the Primary Key (PK) and which one serves as the Foreign Key (FK) in each of the 5 tables."



# NOTE: For the questions below, write the table names between the question and the solution.


# Done

In [ ]:
# 33- What is the average duration of action movies?

# SELECT AVG(rental_duration) from film;

In [ ]:
# 34- Which store has the most staff?

# Staff table

In [30]:
# 35- What is the rating of the films of the actor named 'Gene Willis'?

# SELECT rating from film WHERE film_id IN (
# 	SELECT film_id from film_actor WHERE actor_id = (
# 		SELECT actor_id from actor WHERE first_name = 'Gene' AND last_name = 'Willis'
# 	)
# )

In [ ]:
# 36- What is the number of active customers?

# SELECT COUNT(customer) from customer where activebool = true;

In [ ]:
# 37- What are the movies that start with the letter 'C'?

# SELECT title FROM film where title like 'C%'

In [ ]:
# 38- What is the email address of customers who pay less than $4?

# SELECT email from customer where customer_id in (
# 	SELECT customer_id from payment where amount < 4
# )

In [ ]:
# 39- Table of staff and customers residing in Moscow? (only name/surname columns)
#  Address, City, Staff, Customer tables gives the result

In [ ]:
# 40- What are the 5 least rented movies?
# Film table

In [ ]:
# 41- Which English movies were released in 2006?
# Language and movie table