# WEEK-10 SQL HOMEWORK

(M:Manually, K:With SQL commands, C:With Python codes)


**EXPLANATION: For the questions labeled with 'K' and 'C', save the solutions/answers in this file, with each question and its answer in the same cell. Please paste the questions as comment lines. For the questions labeled with 'M,' you can simply write 'Done' below the question in a cell. Refer to the next cells for examples. Before uploading your assignment to GitHub, please delete the sample cells from the file!**

In [ ]:
# 1- Set up a server named 'InfoTechDB'. (M)
# DONE

In [18]:
# 2- Create 'class4' database (M). Database deleted (M). 
# DONE
# Create the same database again (K)

import psycopg2

db_user = "postgres"
db_password = "Carry4176@"
db_host = "localhost"  # "InfoTechDB" is my PostgreSQL server
db_port = "5432"  # Default PostgreSQL port

# Connect to the PostgreSQL server
conn = psycopg2.connect(user=db_user, password=db_password, host=db_host, port=db_port)

# Disable autocommit mode to avoid running in a transaction (to avoid errors)
conn.autocommit = True

# Create a new database called "class4"
command1 = "CREATE DATABASE class4;"
cur = conn.cursor()

# Executing SQL command by using cursor
cur.execute(command1)

# Close the cursor
cur.close()

# Commit the changes to the database
conn.commit()

# Close the connection to the PostgreSQL server
conn.close()

In [ ]:
# 3- https://www.postgresqltutorial.com/postgresql-sample-database/ 
# Get the ERD at this link. Write at least 5 relationships between this ERD and the tables. (Which table has what kind of relationship with other tables?)

# 1- film to language >> many-to-one relationship >>: Each film is related to one language; there can be many films in one language, but each film can have only one language.
# 2- inventory to film >> many-to-one relationship >>: Each inventory item corresponds to a specific film, but each film can have multiple inventory items within different stores.
# 3- rental to inventory and customer >> many-to-one relationship >>: Each rental record is associated with one inventory item and one customer; a customer can rent many items, and each item can be rented multiple times to different customers.
# 4- payment to customer and staff >> many-to-one relationship >>: Each payment is linked to a specific customer and a staff member; a customer can make many payments, and a staff member can process many payments, but each payment record is associated with only one customer and one staff member.
# 5- actor to film_actor and film to film_actor >> many-to-many relationship >>: An actor can play in multiple films, and a film can have multiple actors. The film_actor table has unique pairings of film_id and actor_id to provide this many-to-many relationship.

In [ ]:
# 4- Create 3 of the tables in the ERD. (M) 
# DONE

In [ ]:
# 5- Create 3 of the tables in the ERD. (K)
# CREATE TABLE film_actor (
#     actor_id INT NOT NULL,
#     film_id INT NOT NULL,
#     last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
# );

# CREATE TABLE language (
#     language_id SERIAL PRIMARY KEY,
#     name VARCHAR(20) NOT NULL,
#     last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
# );

# CREATE TABLE inventory (
#     inventory_id SERIAL PRIMARY KEY,
#     film_id INT NOT NULL,
#     store_id INT NOT NULL,
#     last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
# );

In [20]:
# 6- Create 3 of the tables in the ERD. (C)
import psycopg2
from psycopg2 import sql

# Database connection parameters
db_params = {'dbname': 'class4', 'user': 'postgres', 'password': 'Carry4176@', 'host': 'localhost'}

# SQL statements to create tables
create_tables_commands = [
    """
    CREATE TABLE actor (
        actor_id SERIAL PRIMARY KEY,
        first_name VARCHAR(45) NOT NULL,
        last_name VARCHAR(45) NOT NULL,
        last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
    )
    """,
    """
    CREATE TABLE store (
        store_id SERIAL PRIMARY KEY,
        manager_staff_id INT NOT NULL,
        address_id INT NOT NULL,
        last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
    )
    """,
    """
    CREATE TABLE address (
        address_id SERIAL PRIMARY KEY,
        address VARCHAR(50) NOT NULL,
        address2 VARCHAR(50),
        district VARCHAR(20) NOT NULL,
        city_id INT NOT NULL,
        postal_code VARCHAR(10),
        phone VARCHAR(20) NOT NULL,
        last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
    )
    """
]

# Connect to the PostgreSQL database
conn = None
try:
    # Establish a connection to the database
    conn = psycopg2.connect(**db_params)
    cur = conn.cursor()
    
    # Create each table
    for command in create_tables_commands:
        cur.execute(command)
    
    # Close communication with the database
    cur.close()
    
    # Commit the changes
    conn.commit()
except (Exception, psycopg2.DatabaseError) as error:
    print(error)
finally:
    if conn is not None:
        conn.close()

print("Tables created successfully")

Tables created successfully

In [ ]:
# 7- Enter 5 data entries into the 3 tables you created. (M)

# DONE

In [ ]:
# 8- Enter 5 data entries with the 3 tables you created. (K)
# -- INSERT INTO film (title, description, release_year, language_id, rental_duration, rental_rate, replacement_cost, rating) VALUES
# -- ('The Adventure Begins', 'An epic journey of a hero', 2021, 1, 3, 4.99, 19.99, 'PG'),
# -- ('Laugh Out Loud', 'A comedy that will keep you laughing', 2020, 1, 3, 4.99, 19.99, 'PG-13'),
# -- ('Dramatic Times', 'A drama that will touch your heart', 2019, 1, 3, 4.99, 19.99, 'R'),
# -- ('Scary Night', 'A horror movie that will scare you', 2018, 1, 3, 4.99, 19.99, 'NC-17'),
# -- ('Future Worlds', 'A sci-fi film set in the future', 2022, 1, 3, 4.99, 19.99, 'G');


# -- INSERT INTO film_actor (actor_id, film_id) VALUES
# -- (1, 1),
# -- (2, 2),
# -- (3, 3),
# -- (4, 4),
# -- (5, 5);


# INSERT INTO film_category (film_id, category_id) VALUES
# (1, 1),
# (2, 2),
# (3, 3),
# (4, 4),
# (5, 5);

In [2]:
# 9- Make 5 data entries into the 3 tables you created. (C)
import psycopg2

# Database connection parameters
db_params = {'dbname': 'class4', 'user': 'postgres', 'password': 'Carry4176@', 'host': 'localhost'}

# Connect to the PostgreSQL database
conn = None # setting a default value to create secure connection
try:
    conn = psycopg2.connect(**db_params)
    cur = conn.cursor()

    # Insert data into the language table
    cur.execute("""
        INSERT INTO language (name) VALUES 
        ('English'),
        ('French'),
        ('German'),
        ('Spanish'),
        ('Japanese');
    """)

    # Insert data into the inventory table (from film_id and store_id values)
    cur.execute("""
        INSERT INTO inventory (film_id, store_id) VALUES 
        (1, 1),
        (2, 1),
        (3, 1),
        (4, 1),
        (5, 1);
    """)

    # Insert data into the store table (from manager_staff_id and address_id values)
    cur.execute("""
        INSERT INTO store (manager_staff_id, address_id) VALUES 
        (1, 1),
        (2, 2),
        (3, 3),
        (4, 4),
        (5, 5);
    """)

    # Commit the changes
    conn.commit()

    # Close communication with the database
    cur.close()
    print("Data inserted successfully")
except (Exception, psycopg2.DatabaseError) as error:
    print(error)
finally:
    if conn is not None:
        conn.close()

Data inserted successfully

In [ ]:
# 10- Replace one piece of data in each of the 3 tables. (M)

# DONE

In [ ]:
# 11- Replace one piece of data in each of the 3 tables. (K)

# UPDATE inventory
# SET store_id = 2
# WHERE inventory_id = 1;

# UPDATE language
# SET name = 'Italian'
# WHERE language_id = 1;

# UPDATE store
# SET manager_staff_id = 3
# WHERE store_id = 1;

In [4]:
# 12- Replace one piece of data in each of the 3 tables. (C)

import psycopg2

# Database connection parameters
db_params = {'dbname': 'class4', 'user': 'postgres', 'password': 'Carry4176@', 'host': 'localhost'}


# Connect to the PostgreSQL database
conn = None
try:
    conn = psycopg2.connect(**db_params)
    cur = conn.cursor()

    # Update a record in the film table
    cur.execute("""
        UPDATE film
        SET title = 'New Film Title'
        WHERE film_id = 1; 
    """)

    # Update a record in the film_actor table
    cur.execute("""
        UPDATE film_actor
        SET actor_id = 2 
        WHERE film_id = 1 AND actor_id = 1; 
    """)

    # Update a record in the film_category table
    cur.execute("""
        UPDATE film_category
        SET category_id = 3 
        WHERE film_id = 1 AND category_id = 1; 
    """)

    # Commit the updates
    conn.commit()

    # Close communication with the database
    cur.close()
    print("Data updated successfully")
except (Exception, psycopg2.DatabaseError) as error:
    print(error)
finally:
    if conn is not None:
        conn.close()

Data updated successfully

In [ ]:
# 13- Delete the last row of 3 tables. (M)

# DONE

In [ ]:
# 14- Delete the last row of 3 tables. (K)

# DELETE FROM film
# WHERE film_id = (SELECT MAX(film_id) FROM film);

# DELETE FROM film_actor
# WHERE film_id = (SELECT MAX(film_id) FROM film_actor);

# DELETE FROM film_category
# WHERE film_id = (SELECT MAX(film_id) FROM film_category);

In [5]:
# 15- Delete the last row of 3 tables. (C)
import psycopg2

# Database connection parameters
db_params = {'dbname': 'class4', 'user': 'postgres', 'password': 'Carry4176@', 'host': 'localhost'}


# Connect to the PostgreSQL database
conn = None
try:
    conn = psycopg2.connect(**db_params)
    cur = conn.cursor()

    # Delete the last row from the inventory table
    cur.execute("""
        DELETE FROM inventory
        WHERE inventory_id = (SELECT MAX(inventory_id) FROM inventory);
    """)

    # Delete the last row from the language table
    cur.execute("""
        DELETE FROM language
        WHERE language_id = (SELECT MAX(language_id) FROM language);
    """)

    # Delete the last row from the store table
    cur.execute("""
        DELETE FROM store
        WHERE store_id = (SELECT MAX(store_id) FROM store);
    """)

    # Commit the changes
    conn.commit()

    # Close communication with the database
    cur.close()
    print("Last rows deleted successfully")
except (Exception, psycopg2.DatabaseError) as error:
    print(error)
finally:
    if conn is not None:
        conn.close()

Last rows deleted successfully

In [ ]:
# 16- Delete 1 table. (M)

# DONE

In [ ]:
# 17- Delete 1 table. (K)

# DROP TABLE address;

In [6]:
# 18- Delete 1 table. (C)

import psycopg2

# Database connection parameters
db_params = {'dbname': 'class4', 'user': 'postgres', 'password': 'Carry4176@', 'host': 'localhost'}


# Connect to the PostgreSQL database
conn = None
try:
    conn = psycopg2.connect(**db_params)
    cur = conn.cursor()

    # Drop the store table
    cur.execute("DROP TABLE store;")

    # Commit the changes
    conn.commit()

    # Close communication with the database
    cur.close()
    print("Store table deleted successfully")
except (Exception, psycopg2.DatabaseError) as error:
    print(error)
finally:
    if conn is not None:
        conn.close()

Store table deleted successfully

In [ ]:
# 19- Create another table with 2 or 3 columns from one of the remaining tables. (K)

# CREATE TABLE film_summary AS
# SELECT film_id, title, description
# FROM film;

In [7]:
# 20- Create another table with 2 or 3 columns from one of the remaining tables. (C)
import psycopg2

# Database connection parameters
db_params = {'dbname': 'class4', 'user': 'postgres', 'password': 'Carry4176@', 'host': 'localhost'}

# Connect to the PostgreSQL database
conn = None
try:
    conn = psycopg2.connect(**db_params)
    cur = conn.cursor()

    # Create the new table customer_contacts from the customer table
    cur.execute("""
        CREATE TABLE current_film_titles AS
        SELECT film_id, title
        FROM film;
    """)

    # Commit the changes
    conn.commit()

    # Close communication with the database
    cur.close()
    print("table created successfully")
except (Exception, psycopg2.DatabaseError) as error:
    print(error)
finally:
    if conn is not None:
        conn.close()

table created successfully

In [ ]:
# 21- Truncate 1 of the tables. (M)

# DONE

In [ ]:
# 22- Truncate 1 of the tables. (K)

# TRUNCATE TABLE inventory;

In [9]:
# 23- Truncate 1 of the tables. (C)

import psycopg2

# Database connection parameters
db_params = {'dbname': 'class4', 'user': 'postgres', 'password': 'Carry4176@', 'host': 'localhost'}

# Connect to the PostgreSQL database
conn = None
try:
    conn = psycopg2.connect(**db_params)
    cur = conn.cursor()

    # Truncate the customer_contacts table
    cur.execute("TRUNCATE TABLE film_category;")

    # Commit the changes
    conn.commit()

    # Close communication with the database
    cur.close()
    print("table truncated successfully")
except (Exception, psycopg2.DatabaseError) as error:
    print(error)
finally:
    if conn is not None:
        conn.close()

table truncated successfully

In [ ]:
# 24- Delete the truncated tables. (M)

# DONE

In [ ]:
# 25- Delete 2 tables. (K)

# DROP TABLE category;
# DROP TABLE current_film_titles;

In [10]:
# 26- Delete 2 tables. (C)

import psycopg2

# Database connection parameters
db_params = {'dbname': 'class4', 'user': 'postgres', 'password': 'Carry4176@', 'host': 'localhost'}

# Connect to the PostgreSQL database
conn = None
try:
    conn = psycopg2.connect(**db_params)
    cur = conn.cursor()

    # Drop the actor table
    cur.execute("DROP TABLE film_actor;")

    # Drop the address table
    cur.execute("DROP TABLE film;")

    # Commit the changes
    conn.commit()

    # Close communication with the database
    cur.close()
    print("Tables deleted successfully")
except (Exception, psycopg2.DatabaseError) as error:
    print(error)
finally:
    if conn is not None:
        conn.close()

Tables deleted successfully

In [ ]:
# 27- You should have 1 table remaining with data. Save the table as a CSV file on your computer using the pgAdmin4 interface.

# DONE

In [ ]:
# 28- Delete the last table in the PostgreSQL directory. (K)

# DROP TABLE film_summary;

In [ ]:
# 29- Import the CSV file into the PostgreSQL database using the pgAdmin4 interface.

# DONE

In [12]:
# 30- Delete the table you imported. (C)

import psycopg2

# Database connection parameters
db_params = {'dbname': 'class4', 'user': 'postgres', 'password': 'Carry4176@', 'host': 'localhost'}

# Connect to the PostgreSQL database
conn = None
try:
    conn = psycopg2.connect(**db_params)
    cur = conn.cursor()

    # Drop the film_summary table
    cur.execute("DROP TABLE film_summary;")

    # Commit the changes
    conn.commit()

    # Close communication with the database
    cur.close()
    print("Tables deleted successfully")
except (Exception, psycopg2.DatabaseError) as error:
    print(error)
finally:
    if conn is not None:
        conn.close()

Tables deleted successfully

In [ ]:
# 31- "Download the sample database from the link https://www.postgresqltutorial.com/postgresql-sample-database/ to your computer and then upload it to the interface."

# DONE

In [ ]:
# 32- "There should be 15 tables in your database. Please view each table one by one, examine the column names, 
# and make note of which column serves as the Primary Key (PK) and which one serves as the Foreign Key (FK) in each of the 5 tables."
# actor > actor_id => primary key
# film > film_id => primary key, language_id => foreign key (public.language)
# category > category_id => primary key
# city > city_id => primary key, country_id => foreign key (public.country)
# customer > customer_id => primary key, address_id => foreign key (public.address)

In [ ]:
# 33- What is the average duration of action movies? (K)
# Tables => film, film_category, category

# SELECT AVG(film.length) AS average_duration
# FROM film
# JOIN film_category ON film.film_id = film_category.film_id
# JOIN category ON film_category.category_id = category.category_id
# WHERE category.name = 'Action';

# average_duration = 111.6093750000000000

In [ ]:
# 34- Which store has the most staff? (K)

# Tables => staff

# SELECT store_id, COUNT(staff_id) AS staff_count
# FROM staff
# GROUP BY store_id
# ORDER BY staff_count DESC
# LIMIT 2;

# staff_count = 1

In [ ]:
# 35- What is the rating of the films of the actor named 'Gene Willis'? (K)
# SELECT film.film_id, film.title, film.rating
# FROM actor
# JOIN film_actor ON actor.actor_id = film_actor.actor_id
# JOIN film ON film_actor.film_id = film.film_id
# WHERE actor.first_name = 'Gene' AND actor.last_name = 'Willis';

# 23 films
# 8	    "Airport Pollock"	"R"
# 36	"Argonauts Town"	"PG-13"
# 40	"Army Flintstones"	"R"
# 54	"Banger Pinocchio"	"R"
# 58	"Beach Heartbreakers"	"G"
# 66	"Beneath Rush"	"NC-17"
# 134	"Champion Flatliners"	"PG"
# 209	"Darkness War"	"NC-17"
# 244	"Dorado Notting"	"NC-17"
# 320	"Flamingos Connecticut"	"PG-13"
# 430	"Hook Chariots"	"G"
# 452	"Illusion Amelie"	"R"
# 486	"Jet Neighbors"	"R"
# 572	"Metropolis Coma"	"PG-13"
# 590	"Money Harold"	"PG"
# 661	"Past Suicides"	"PG-13"
# 778	"Secrets Paradise"	"G"
# 832	"Splash Gump"	"PG"
# 846	"Sting Personal"	"NC-17"
# 874	"Tadpole Park"	"PG"
# 945	"Virginian Pluto"	"R"
# 968	"Werewolf Lola"	"G"
# 987	"Words Hunter"	"PG"

In [ ]:
# 36- What is the number of active customers? (K)

# SELECT COUNT(*) AS active_customers
# FROM customer
# WHERE active = 1;

# active_customers = 584

In [ ]:
# 37- What are the movies that start with the letter 'C'? (K)
# SELECT film_id, title
# FROM film
# WHERE title LIKE 'C%';

# There are 92 films that start with the letter 'C'

# 133	"Chamber Italian"
# 126	"Casualties Encino"
# 110	"Cabin Flash"
# 111	"Caddyshack Jedi"
# 112	"Calendar Gunfight"
# 113	"California Birds"
# 114	"Camelot Vacation"
# 115	"Campus Remember"
# 116	"Candidate Perdition"
# 117	"Candles Grapes"
# 118	"Canyon Stock"
# 119	"Caper Motions"
# 120	"Caribbean Liberty"
# 121	"Carol Texas"
# 122	"Carrie Bunch"
# 123	"Casablanca Super"
# 124	"Casper Dragonfly"
# 125	"Cassidy Wyoming"
# 127	"Cat Coneheads"
# 128	"Catch Amistad"
# 129	"Cause Date"
# 130	"Celebrity Horn"
# 131	"Center Dinosaur"
# 132	"Chainsaw Uptown"
# 134	"Champion Flatliners"
# 135	"Chance Resurrection"
# 154	"Clash Freddy"
# 136	"Chaplin License"
# 137	"Charade Duffel"
# 138	"Chariots Conspiracy"
# 139	"Chasing Fight"
# 140	"Cheaper Clyde"
# 141	"Chicago North"
# 142	"Chicken Hellfighters"
# 143	"Chill Luck"
# 144	"Chinatown Gladiator"
# 145	"Chisum Behavior"
# 146	"Chitty Lock"
# 147	"Chocolat Harry"
# 148	"Chocolate Duck"
# 149	"Christmas Moonshine"
# 150	"Cider Desire"
# 151	"Cincinatti Whisperer"
# 152	"Circus Youth"
# 153	"Citizen Shrek"
# 155	"Cleopatra Devil"
# 156	"Clerks Angels"
# 157	"Clockwork Paradise"
# 158	"Clones Pinocchio"
# 159	"Closer Bang"
# 160	"Club Graffiti"
# 161	"Clue Grail"
# 162	"Clueless Bucket"
# 163	"Clyde Theory"
# 164	"Coast Rainbow"
# 184	"Core Suit"
# 165	"Coldblooded Darling"
# 166	"Color Philadelphia"
# 167	"Coma Head"
# 168	"Comancheros Enemy"
# 169	"Comforts Rush"
# 170	"Command Darling"
# 171	"Commandments Express"
# 172	"Coneheads Smoochy"
# 173	"Confessions Maguire"
# 174	"Confidential Interview"
# 175	"Confused Candles"
# 176	"Congeniality Quest"
# 177	"Connecticut Tramp"
# 178	"Connection Microcosmos"
# 179	"Conquerer Nuts"
# 180	"Conspiracy Spirit"
# 181	"Contact Anonymous"
# 182	"Control Anthem"
# 183	"Conversation Downhill"
# 185	"Cowboy Doom"
# 186	"Craft Outfield"
# 187	"Cranes Reservoir"
# 188	"Crazy Home"
# 189	"Creatures Shakespeare"
# 190	"Creepers Kane"
# 191	"Crooked Frogmen"
# 192	"Crossing Divorce"
# 193	"Crossroads Casualties"
# 194	"Crow Grease"
# 195	"Crowds Telemark"
# 196	"Cruelty Unforgiven"
# 197	"Crusade Honey"
# 198	"Crystal Breaking"
# 199	"Cupboard Sinners"
# 200	"Curtain Videotape"
# 201	"Cyclone Family"

In [ ]:
# 38- What is the email address of customers who pay less than $4? (K)

# SELECT DISTINCT customer.customer_id, customer.first_name, customer.last_name, customer.email
# FROM customer
# JOIN payment ON customer.customer_id = payment.customer_id
# WHERE payment.amount < 4;

# there are 599 customers who pay less than $4
# 114	"Grace"	"Ellis"	"grace.ellis@sakilacustomer.org"
# 172	"Bernice"	"Willis"	"bernice.willis@sakilacustomer.org"
# 374	"Jeremy"	"Hurtado"	"jeremy.hurtado@sakilacustomer.org"
# 556	"Armando"	"Gruber"	"armando.gruber@sakilacustomer.org"
# 420	"Jacob"	"Lance"	"jacob.lance@sakilacustomer.org"
# ..................................................................

In [ ]:
# 39- Table of staff and customers residing in Moscow? (only name/surname columns) (K)

# SELECT customer.first_name, customer.last_name
# FROM customer
# JOIN address ON customer.address_id = address.address_id
# JOIN city ON address.city_id = city.city_id
# WHERE city.city = 'Moscow';

# "Catherine"	"Campbell"


# SELECT staff.first_name, staff.last_name
# FROM staff
# JOIN address ON staff.address_id = address.address_id
# JOIN city ON address.city_id = city.city_id
# WHERE city.city = 'Moscow';

# 0

In [ ]:
# 40- What are the 5 least rented movies? (K)

# SELECT film.title, COUNT(rental.inventory_id) AS rental_count
# FROM film
# JOIN inventory ON film.film_id = inventory.film_id
# LEFT JOIN rental ON inventory.inventory_id = rental.inventory_id
# GROUP BY film.title
# ORDER BY rental_count ASC
# LIMIT 5;

# 5 least rented movies
# "Mixed Doors"	4
# "Hardly Robbers"	4
# "Train Bunch"	4
# "Braveheart Human"	5
# "Private Drop"	5

In [ ]:
# 41- Which English movies were released in 2006? (K)

# SELECT film.title
# FROM film
# JOIN language ON film.language_id = language.language_id
# WHERE language.name = 'English' AND film.release_year = 2006;

# There are 1000 English movies released in 2006.